<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        {{paciente.id}}
        {{paciente.nombre}}
        {{paciente.apellido}}
        {{paciente.edad}}
        {{paciente.peso}}
        {{paciente.consulta}}
    </h1>
    <a href="{% url 'index'%}">Regresar al inicio</a>
</body>
</html>