<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>EXA</h2>
    <h1> SISTEMA</h1>
    <div>
        <h2>Clientes</h2>
        <a href="nuevo_cliente">Agregar</a>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for p in cliente%}
                    <tr>
                        <td>{{p.id}}</td>
                        <td>{{p.nombre}}</td>
                        <td>{{p.email}}</td>
                        <td><a href="detalle_paciente/{{paciente.id}}"> Ver detalle</a></td>
                        <td><a href="editar_paciente/{{paciente.id}}"> Editar paciente</a></td>
                        <td><a href="eliminar_paciente/{{paciente.id}}"> Eliminar paciente</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>
    
</body>
</html>