<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>EXA</h2>
    <h1>Sistema </h1>
   

    <div>
        <h2>Consultas</h2>
        
        <a href="indexClientes">Cliente</a>
        <a href="indexProductos">´Producto</a>
        <a href="indexCategorias">Categoria</a>
        <a href="indexPedido">Pedido</a>
        <a href="indexDetallePedido">Detalle Pedido</a>
        
      
    </div>

</body>
</html>